<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Research Analytics</title>
  <script src="http://d3js.org/d3.v4.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="styleshett" type="text/css" href="style.css">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Research Analytics Dashboard</h1>
        <p>Interactively Exploring Publications for Open Celled Metal Foam</p>
        <p>Jessica Hills and Rebecca Mih</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12"></div>
        <h4> The chord diagram is useful to visualize the contents of documents. In this case, academic publications for metal foams 
          are classified by the materials used to make the foam (Aluminum, Copper, etc), and materials properties (such as strength, elasticity, conductivity etc.)
          that were tested by the authors.

          In this way, it's easy to what materials and properties researchers have studied the most, by the relative size of the arcs and chords in the diagram.
          The chord diagram was created using D3.js library.
        </h4>
    </div>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div id="pie"></div>
      </div>
      <div class="col-md-3"></div>
    </div>

    <div class="row">
        <div class="col-md-12"></div>
          <h4> Analysis of the most prolific authors, and the most popular journals, by material and properties, is helpful for identifying potential collaborators
            and their areas of expertise.  These plots were created using Chart.js library.
          </h4>
    </div>
  <hr>
  <hr>

    <div class="row">
      <div class="col-md-2">
        <div class="well">
          <h5>Select Property Category:</h5>
          <select id="selProp" onchange="PropOptionChanged(this.value)" ></select>
        </div>
        <div class="well">
          <h5>Select Composition:</h5>
          <select id="selComp" onchange="CompOptionChanged(this.value)"></select>
        </div>
      </div>
      <div class="col-md-5">
        <div id="bar">
        <canvas id="myChart" width="300" height="300"></canvas>
        </div>
      </div>
      <div class="col-md-5">
        <div id="bar">
        <canvas id="myChartB" width="300" height="300"></canvas>
        </div>
      </div>
    </div>
<hr>
<hr>
    <div class="row">
        <div class="col-md-12"></div>
          <h4> This interactive bubble chart shows the evolution of research interest in metal foams, over time. Citations are the number of times
            an article has be referenced in a later publication. The number of citations by others indicates the importance of the articles content. 
            Seminal, ground-breaking articles may have hundreds or even thousands of citations.
            The plot was created using the plotly library.
          </h4>
    </div>

<hr>
    <div class="row">
      <div class="col-md-12">
        <div id="bubble"></div>
      </div>
    </div>

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.jsdelivr.net/combine/npm/chart.js@2.8.0,npm/chart.js@2.8.0/dist/Chart.bundle.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>
